@page
@{
    ViewData["Title"] = "Welcome New Member at uMkhonto weSizwe Party";
    Layout = "_BasicLayout";
}

<div class="text-center" style="margin-top:10px;">
    <h1 class="display-4">MK - uMkhonto weSizwe Party Welcome New Member</h1>
    <p>
        uMkhonto weSizwe Party, would like to welcome you. and thank you for registering and trusting our movement.
    </p>

    <a asp-area="" asp-page="/Account/RegisterMember" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-cog"></i> &nbsp;Register New Member</a>
    <a asp-area="" asp-page="/Account/LoginUser" class="btn btn-info btn-lg disabled" style="width:180px"><i class="glyphicon glyphicon-lock"></i> &nbsp;Login</a>
</div>