<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Membership Management</span></a></li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Wards Management</span></a></li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Voting Station View</span></a></li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Municipalities View</span></a></li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Assets Management</span></a></li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Branches Management</span></a></li>


    @*<li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Home</span></a></li>
    <li class="active"><a asp-area="" asp-page="/Index"><i class="fa fa-link"></i> <span>Home</span></a></li>*@


    @*<li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Front-Desk Administration</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-page="/Provinces/Index">Departments</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Nurse and Doctors</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Medical Aid</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Medical Services</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Patients Management</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Finance</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-page="/Provinces/Index">Invoices</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Administration</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-page="/Administration/Users/Index">User Management</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Provinces</a></li>
            <li><a asp-area="" asp-page="/Institutions/Index">Institutions</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Allergies</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Institution Services</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">Roles Management</a></li>
            <li><a asp-area="" asp-page="/Provinces/Index">User Roles Management</a></li>
        </ul>
    </li>*@
</ul>
