@page
@model eMKParty.BackOffice.Support.Web.Razor.Pages.BackOffice.MunicipalViewModel
@{
    ViewData["Title"] = "Municipalities Management<";
    Layout = "_BackOfficeMainLayout";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Municipalities Management</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/BackOffice/Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Municipalities Management</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        Municipality View - Comming Soon!!!
    </div>
</section>

